<h1>Thanks you for registering</h1>

<p>Your username is the email you used to sign-up - <strong><%= @user.email %></strong></p>

Please login to the site at <%= new_user_session_url(host: 'example.com') %>