<% if user_signed_in? %>

<div class="jumbotron">
  <%= render 'layouts/title' %>
</div>
<br />
<div class="jumbotron">
  <div class="row">
    <div class="blockquote-box clearfix col-md-10 col-md-offset-1" align="center">
      <h5>The following archived webinar(s) are available to view:</h5>
      <h3>Professor Marcus Drake, <br />Consultant Urological Surgeon, Southmead Hospital, Bristol</h3>
      <h3 style="color:#CC0767">Friday 1<sup>st</sup> July 2014 at 12.30-13.15</h3>
      <h5>*This session will include a discussion regarding the Vesomni™ clinical data.</h5>

      <img src="assets/archived-webcast.png" class="img-responsive"/>
    </div>

    <br /> 
      </div>
    </div>
  </div>

<% else %>
  <%= render 'layouts/preregistration' %>
<% end %>