<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>
	<br>
	<p>The following archived webinar(s) are available to view:</p>
	<h3><span style="color: #A72B4D">*Webinar Title*</span></h3>
	<h3><span style="color: #A72B4D">*Speaker Name*</span></h3>
	<h3><span style="color: #A72B4D">*Date*</span></h3>

	<br>
		<img src="assets/archived-webcast.png"/>
	</br>
	<br>

	* Live Webinar Icon *

</div>