<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>
	<br>
	<p>The following archived webinar(s) are available to view:</p>
	<br>
	<h3><span style="color: #A72B4D">Webinar Title</span></h3>
	<h5>
		John Doe, January 15, 2014
	</h5>
		<br>

	<br>
		<img src="assets/archived-webcast.png"/>
	</br>
	<br>

	<br>
	<p><%= link_to 'Live Webinars', archive_path, class: "btn btn-danger btn-small" %></p>
</div>

      <%= render 'layouts/footer' %>
