<!-- flash_notice to show if form submission is unsuccessful -->
    <div class="jumbotron">
        <h3><span style="color: rgb(167, 43, 77)">Sorry, these webinars are strictly indended for healthcare professionals only.</span></h3>

    <div class="bird">
    	<img src="assets/bird_oncology.png"/>
    </div>
</div>
              <%= render 'layouts/prefooter' %>
