<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>
<br>
	<p>
		Insert title of webinar
	</p>
	<p>
		Insert name of speaker(s)
	</p>
	<p>
		Insert place of work
	</p>

	<img src="assets/webcast.png"/>

	<hr>

	<p>
		Please submit a question in the box below:
	</p>

	Question Box

	<p>
		Please note, this webinar will last up to 45 minutes and will be available to view, at a later date, by registered users post the event on the archive page.
	</p>

	<p>
		<strong>XTANDI&trade;</strong> Prescribing information can be found <%= link_to 'here', pi_path %>.
	</p>

	Archived webinars icon
</div>