<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
	<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>
		<br>
	<h3>Please select whether you would like to <%= link_to 'register', home_path %> or <%= link_to 'login', login_path %></h3>
</div>