<div class= "marketing">

	<h1>Troubleshooting</h1>
	<br>
	<p>If you are experiencing any difficulties watching these webinars, it may be that you need to update to the latest version of Flash.</p>


	<p><a href="http://helpx.adobe.com/flash-player.html" target="_blank">Click here</a> for a step by step guide to check your current version of Flash and install any necessary updates.</p>

</div>