<div class= "marketing">

	<h1>Trouble watching the webinar?</h1>
	<br>
	<p>If you are experiencing any difficulties watching these webinars, it may be that you need to update to the latest version of Flash.</p>
		<br>
	<h4 class="span4 pull-left">General Advice</h4>
	<p><a href="http://helpx.adobe.com/flash-player.html" target="_blank">Click here</a> for a step by step guide to check your current version of Flash and install any necessary updates.</p>
		<br>
	<h4>Windows 8 Advice</h4>
	<p>Some users of Windows 8 may experience a problem with Flash. <a href="http://helpx.adobe.com/flash-player/kb/flash-player-issues-windows-8.html" target="_blank">Click here</a> for a step by step guide to troubleshooting Flash on Windows 8.</p>

</div>