<div class= "marketing">

	<h1>Troubleshooting</h1>
	<h4><span style="color: rgb(167, 43, 77)">If you are experiencing any difficulties watching these webinars, it may be that you need to update your browsers version of Flash.</span></h4>


	<a href="http://helpx.adobe.com/flash-player.html">Click here</a> for a step by step guide to check your version of Flash and install any necessary updates.

</div>