<div class= "marketing">

	<h1>Help Centre</h1>
	<br>
		<h4>If you are experiencing any difficulties watching these webinars, <br>it may be that you need to update to the latest version of Flash.</h4>
		<br>
		<h4>General Advice</h4>
		<p><a href="http://helpx.adobe.com/flash-player.html" target="_blank">Click here</a> to check your current Flash version and install any necessary updates in five easy steps.</p>

<br>
		<h4>Windows 8 Advice</h4>
		<p>Some users of Windows 8 may experience a problem where no video player is displayed. <br><a href="http://helpx.adobe.com/flash-player/kb/flash-player-issues-windows-8.html" target="_blank">Click here</a> for a step by step guide to troubleshooting Flash on Windows 8.</p>


</div>
<br>