<div class= "marketing">

	<h1>Trouble watching the webinar?</h1>
	<br>
	<p>If you are experiencing any difficulties watching these webinars, it may be that you need to update to the latest version of Flash.</p>
		<br>
	<div class="span4">
		<h4>General Advice</h4>
		<p><a href="http://helpx.adobe.com/flash-player.html" target="_blank">Click here</a> for a step by step guide to check your current Flash version and install any necessary updates.</p>
    </div>
	<div class="span4">    
		<h4>Windows 8 Advice</h4>
		<p>Some users of Windows 8 in partiular may experience a problem with the video play not loading. <a href="http://helpx.adobe.com/flash-player/kb/flash-player-issues-windows-8.html" target="_blank">Click here</a> for a step by step guide to troubleshooting Flash on Windows 8.</p>
	</div>
</div>