$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';
body{
    padding-top: 0px;

    color: rgb(135, 135, 133);

}

@import 'bootstrap-responsive';

.navbar .container {
	max-width: 1024px;
}

.navbar .nav {
    position: relative;
    left: 0px;
    display: block;
    float: left;
    margin: 9px 10px 0px 0px;
}

.navbar .nav > li {
    float: left;
    background-color: rgb(167, 43, 77);
    margin-right: 3px;
    color: #fff;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: #fff;
    color: rgb(167, 43, 77);
    text-decoration: none;
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    text-shadow: none !important;
}

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
    margin-top:10px;
}

.footer {

	margin-top: 50px;
	margin-bottom: 20px;
	color: $grayLight;
	text-align: center;
}

.container {
	max-width: 1024px;
}

.jumbotron {
	text-align: center;
	font-family: Arial;
	padding: 50px 10px 20px 10px;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	max-width: 99%;
	min-width: 220px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	background-image: url('bird_oncology orange.jpg');
	background-repeat: no-repeat;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
}

.jumbotron h3 {
  text-shadow: .5px .5px rgba(0,0,0,0.15);
 }

.jumbotron h4 {
  font-weight: 100;
}

.jumbotron h4 i {
  font-weight: 100;
  color: rgb(167, 43, 77);
  background: #fff;
}

.jumbotron h5 {
  font-weight: 100;
  color: rgb(135, 135, 133);  
  font-size: 18pt;
  margin-bottom: -3px;
}

.login {
	text-align: left !important;
 	margin:0 auto;
	float:none;
	padding-right: 125px;
}

.form-horizontal {
	margin-left: -50px;
	margin-top: 30px;
}

.form-horizontal .btn-primary {
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(167, 43, 77);
    background-image: none !important;
    background-repeat: none !important;
    border-color: none !important;
}

.form-horizontal .btn-primary:hover {
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(167, 0, 77);
    background-image: none !important;
    background-repeat: none !important;
    border-color: none !important;
}

.form-actions {
    padding: 0px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border-top: none;
}

.btn {
	margin-left: 0px;
	margin-right:3px;
	padding-left: 80px;
	padding-right: 83px;
	border-color: none;
}

.btn-primary {
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(167, 43, 77);
    background-image: none !important;
    background-repeat: none !important;
    border-color: none !important;
}

.btn-primary:hover {
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(167, 0, 77);
    background-image: none !important;
    background-repeat: none !important;
    border-color: none !important;
}


.btn-danger {
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color:rgb(228, 85, 51);
    background-image: none !important;
    background-repeat: none !important;
    border-color: none !important;
}

.btn-danger:hover {
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color:rgb(228, 75, 51);
    background-image: none !important;
    background-repeat: none !important;
    border-color: none !important;
}

.registration_box {
  min-width: 20%;
}

.message_box {
  width: 100%;
}

.checkbox {
    width: 100%;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    min-width:70%;
}

p strong {
	color: rgb(167, 43, 77);
}

label {
    display: block;
    margin-bottom: 5px;
}

abbr[title], abbr[data-original-title] {
    border-bottom: none;
    cursor: help;
}

.btn-small {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-top: -20px;
}

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.adverse {
    border: 1px solid #000;
    padding-left: 10px;
    padding-top: 8px;
}

.marketing {
    text-align: center;
}

.submit {
    text-align: center;
    margin-top: 30px;
}
