@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,500);

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';
   
body {
   font-family: 'Roboto', sans-serif;
   color: #706F6F;
}

.navbar-default {
    background-color: #00365C;
    border-color: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #CC0767;
}

.navbar-default .navbar-brand {
    color: #fff;
}

a {
    color: #CC0767;
}


.btn-danger {
    color: #FFF;
    background-color: #00365C;
    border-color: #00365C;
}

.btn-danger:hover {
    color: #FFF;
    background-color: #00365C;
    border-color: #00365C;
}

.btn-primary {
    color: #FFF;
    background-color: #CC0767;
    border-color: #CC0767;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #CC0767;
    border-color: #CC0767;
}

.jumbotron {
    background-color: transparent;
    color: #00365C;
    width: 100%;
    z-index: 100%;
}

.jumbotron h1 {
    font-weight: 300;
}

/* Background Image
---------------------------------------------------*/
.background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: none no-repeat scroll 50% 50% / cover transparent;
}

.header-10-sub.v-center, .header-10-sub .v-center {
    display: table;
    width: 100%;
}

.header-10-sub {
    position: relative;
    height: 800px;
}

.header-10-sub .background {
    background-image: url('astellas-uro-large.png');
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #fff;
  text-align: center;
}
