<div class="footer">
<small>
	<p><strong>XTANDI&trade;</strong><span style="color:#000">▼</span>(enzalutamide) Prescribing information can be found <%= link_to 'here', "/XTANDI PI.pdf" %>.</p>
</small>
  <small>
    Date of preparation: September 2013	Jobcode: XTD13057UKn
  </small>
<br>
  <small>
  These webinars are organised and funded by Astellas Pharma Ltd.
  </small>
</div>