<div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1" style="text-align: left;">
          <strong><p>Prescribing Information can be found <a href="#">here</a></p></strong>
          <p>The consensus statement was funded and initiated by Astellas Pharma Ltd who nominated the authors, organised and funded the consensus group meeting and checked the consensus statement for factual accuracy.</p>
          <p>This webinar is organised and funded by Astellas Pharma Ltd.<p>
          <small><p>Date of preparation: May 2014</p></small>
          <small><p>VSO14086UK</p></small>
        </div>
      <div class="col-md-2">
        <img src="assets/Astellas-Urology-LOGO.gif">
      </div>
    </div>
  </div>
</div>