<div class="footer">
<small>
	<p><strong>XTANDI&trade;</strong> (enzalutamide) Prescribing information can be found <%= link_to 'here', "/XTANDI PI.pdf" %>.</p>
</small>
  <small>
    Date of preparation: September 2013	Jobcode: XTD13057UKb
  </small>
<br>
  <small>
  These webinars are initiated and funded by Astellas Oncology.
  </small>
</div>