<div class="footer">
	<small><%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", root_path %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>
</small>
<br>
<small>
	<p><strong>XTANDI&trade;</strong> Prescribing information can be found <%= link_to 'here', pi_path %>.</p>
</small>
  <small>
    Date of preparation: August 2013	Jobcode: XXXXXXXX
  </small>
<br>
  <small>
  These webinars are initiated and funded by Astellas Oncology.
  </small>
</div>