<div class="jumbotron">
		<h1>Astellas Oncology LIVE Lunchtime Webinars</h1>
		<h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>
		<br>
		<p>Please select whether you would like to:</p>
		<p><%= link_to 'Register', home_path, class: "btn btn-danger btn-large" %>
			<%= link_to 'Login', login_path, class: "btn btn-primary btn-large" %>
		</p>

		<div class= "bird">
			<img src="assets/bird_oncology.png"/>
		</div>
	</div>