<div class="footer">
  <small>
  	<p>
        <%= image_tag 'xtandi-logo-134.png' do %>
          Prescribing information can be found
          <a href = "/XTANDI PI.pdf", target = "_blank">here</a>
        <% end %>
    </p>
  </small>
  <small>Date of preparation: October 2013	Jobcode: XTD13057UKb</small>
  <br>
  <small>These webinars are organised and funded by Astellas Pharma Ltd.</small>
</div>