<div class="footer">

    <p>These webinars will include discussions relating specifically to Astellas marketed products.<p>
    <p>Prescribing information is available within the main site.</p>

  <br>

    <small>Date of preparation: December 2013	Jobcode: XTD13057UKaf</small>

  <br>

    <p>These webinars are organised and funded by Astellas Pharma Ltd.</p>

    <small><strong><%= link_to "Having trouble logging in?", help_path %></strong></small>

</div>