<div class="jumbotron">
		<%= render 'layouts/title' %>
		<br>
		<p>Please select whether you would like to:</p>
		<p><%= link_to 'Register', home_path, class: "btn btn-danger btn-large" %>
			<%= link_to 'Login', login_path, class: "btn btn-primary btn-large" %>
		</p>

		<div class= "bird">
			<img src="assets/bird_oncology.png"/>
		</div>
	</div>