<div id="footer">
    <div class="container">
    	<div class="row">
        <div class="col-md-8 col-md-offset-1" style="text-align: left;">
		      	<p>This webinar will include discussions relating specifically to Astellas marketed products.<p>
		    	<p>Prescribing information is available within the main site.</p>
				<br>
				<small>Date of preparation: May 2014	Jobcode: VSO14086UK </small>
				<br>
				<small>This webinar is organised and funded by Astellas Pharma Ltd.</small>
			</div>
			<div class="col-md-2">
				<img src="assets/Astellas-Urology-LOGO.gif">
			</div>
		</div>
    </div>
</div>