<div class="jumbotron">
		<%= render 'layouts/title' %>
		<br>
		<p>Please select whether you would like to:</p>
		<p><%= link_to 'Register', home_path, class: "btn btn-danger btn-large" %>
			<%= link_to 'Login', login_path, class: "btn btn-primary btn-large" %>
		</p>

		<br>
				<p><strong>The next live webinar is as follows:</strong></p>
				<p>Date: XXXX</p>
				<p>Time: 12.30 to 13.15</p>
				<p>Title: XXXX</p>
				<p>Speaker(s): XXXX from XXXX</p>
				<br>
				<p>Summary: XXXXX</p>
				<p>Topics: XXXXX</p>

				<p>We do hope that you will be able to join us and you find the webinar interesting and informative.</p>

				<p>Please note, details regarding speakers, topics and timings for the full webinar programme are available on the website.</p>

		<div class= "bird">
			<img src="assets/bird_oncology.png"/>
		</div>
	</div>