<div class="jumbotron">
		<%= render 'layouts/title' %>
		<br>
		<p>Please select whether you would like to:</p>
		<p><%= link_to 'REGISTER', home_path, class: "btn btn-danger btn-large" %>
			<%= link_to 'LOGIN', login_path, class: "btn btn-primary btn-large" %>
		</p>

		<br>
		
		<div class="next-webinar span6 offset2">
				<p><strong>The next live webinar is as follows:</strong></p>
				<p><b>Date:</b> Tuesday 26th November 2013</p>
				<p><b>Time:</b> 12.30 to 13.15</p>
				<p><b>Title:</b> <i>Working together: organising care for optimal management of prostate cancer</i></p>
				<p><b>Speaker(s):</b> Dr Simon Hughes, Consultant in Clinical Oncology and Louisa Fleure, Advanced Prostate Cancer Specialist Nurse Guy's Hospital, London</p>
				<br>
				<p><b>Summary:</b> "Insert Summary from Leave piece"</p>
				<p><b>Topics:</b> "Insert bullets from Leave piece"</p>
<br>
				<p>We do hope that you will be able to join us and you find the webinar interesting and informative.</p>

				<p>Please note, details regarding speakers, topics and timings for the full webinar programme are available on the website.</p>

				<br>
				
				<small>
					Contact us: <a href="mailto:rummy.ladwa@succinctcomms.com">rummy.ladwa@succinctcomms.com</a>
				</small>
		</div>
	</div>