<section class="header-10-sub v-center">
    <div class="background">
        &nbsp;
    </div>
    <div>
        <div class="container">
            <div class="jumbotron">
				<%= render 'layouts/title' %>
				<br>
				<br>
				<p>Please select whether you would like to:</p>
				<p>
					<%= link_to 'REGISTER', new_user_registration_path, class: "btn btn-danger btn-large" %>
					<%= link_to 'LOGIN', login_path, class: "btn btn-primary btn-large" %>
				</p>
			</div>
        </div>
    </div>
</section>