<div id="footer">
    <div class="container">
    	<div class="row">
        <div class="col-md-8 col-md-offset-1" style="text-align: left;">
        	<br />
	      	<small><p>This webinar will include discussions relating specifically to Astellas marketed products.<p></small>
	    	<small><p>Prescribing information is available within the main site.</p></small>
			<small><p>Date of preparation: May 2014	Jobcode: VSO14086UK</p></small>
			<small><p>This webinar is organised and funded by Astellas Pharma Ltd.</p></small>
		</div>
			<div class="col-md-2">
				<img src="https://s3.amazonaws.com/streamingwell/Astellas-Urology-150.gif">
			</div>
		</div>
    </div>
</div>