<div class="row">
	<div class="blockquote-box clearfix col-md-8 col-md-offset-2" style="background-color: transparent; padding: 50px 0px 0px 0px;"> 
		<div class="marketing pull-left" style="margin-right: 25px;">
        	<img src="https://s3.amazonaws.com/streamingwell/Astellas-Urology-100.png" alt="" class="" />
      	</div>
       	<h1 style="font-size: 35px;">Urology Lunchtime Webinar</h1>
		<p style="color: #CC0767; font-weight: 400; font-size: 18px;">Lower Urinary Tract Symptoms: Think <span style="color: #FED34C;">Prostate</span> AND Bladder</p>
	</div>
</div>
