<div class="row">
	<div class="blockquote-box clearfix col-sm-12" style="background-color: transparent;">
		<div class="square pull-left">
        	<img src="assets/Astellas-Urology-LOGO.png" alt="" class="" />
      	</div>
       	<h1>Urology Lunchtime Webinar</h1>
		<p style="color: #CC0767; font-weight: 400;">Lower Urinary Tract Symptoms: Think <span style="color: #FED34C;">Prostate</span> AND Bladder</p>
	</div>
</div>
